@charset "utf-8";
/* CSS Document */


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --gray1: #222222;
  --gray170: #22222270;
  --gray2: #444444;
  --gray3: #636363;
  --gray4: #959595;
  --gray5: #B3B3B3;
  --gray6: #E0E0E0;
  --gray7: #F5F5F5;
  --skyblue: #D9F6FA;
  --darkblue: #002677;
  --orange: #FF612B;
  --warmwhite: #FBF9F4;
  --textcolor: #5a5b5b;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: none;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  padding: 0;
  background: #002677;
  height: 100vh;
  color: #5a5b5b
}

.bg-sky {
  background-color: var(--skyblue, #D9F6FA);
}

.bg-darkblue {
  background-color: var(--darkblue, #002677);
}

.bg-orange {
  background-color: var(--orange, #FF612B);
}

.bg-warmwhite {
  background-color: #FBF9F4;
}

.bg-gray1 {
  background-color: var(--gray1, #222222);
}

.bg-gray170 {
  background-color: var(--gray170, #22222270);
}

.bg-gray2 {
  background-color: var(--gray2, #444444);
}

.bg-gray3 {
  background-color: var(--gray3, #636363);
}

.bg-gray4 {
  background-color: var(--gray4, #959595);
}

.bg-gray5 {
  background-color: var(--gray5, #B3B3B3);
}

.bg-gray6 {
  background-color: var(--gray6, #E0E0E0);
}

.bg-gray7 {
  background-color: var(--gray7, #F5F5F5);
}

.text-color {
  color: #5a5b5b;
}

.text-color-w {
  color: var(--textcolor-w, #fafafa);
}

.text-color-w90 {
  color: var(--textcolor-w, #fafafa90);
}


.bg-1 {

  background-image: url("../img/bg-1.jpg");
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-2 {

  background-image: url("../img/bg-2.jpg");
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
}


.login-container {
	margin: auto;
 display: flex;
  justify-content: center;
  align-items: center;
	height: 100vh;
	z-index: 3;
}

.reg-container {
	margin: auto;
 display: flex;
  justify-content: center;
  align-items: center;
	height: 100vh;
	z-index: 3;
}


  
  .login-form-container {
	  
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    border-radius: 8px;
	  
    /* box-shadow: 0 0 10px #ccc; */
  }

  .r-form-container {
	  
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    border-radius: 8px;
	  
    /* box-shadow: 0 0 10px #ccc; */
  }



  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  


.input-group {
  font-size: 1.25rem;
  position: relative;
  margin: 15px 0;
}

.input {
  all: unset;
  color: #3d3d3d;
  padding-left: 10px;
  padding-right: 10px;
  height: 55px;
  border: 1px solid #9e9e9e;
  text-align: left;
  width: 325px;
  border-radius: 10px;
  font-size: 15px;
}

.label {
  position: absolute;
  top: 35%;
  left: 10px;
  transform: translateY(-50%);

	font-weight: 700;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  border-radius: 10px;
}

/* Focus and valid states */
.input:focus {
  border: 1px solid #2196f3;
}

/*
        .input:is(:focus, :valid) ~ .label {
          transform: translateY(-120%) scale(0.8);
          background-color: #fff;
          padding-inline: 0.3rem;
          color: #2196f3;
        } */
.input:focus~.label,
.input:not(:placeholder-shown)~label {
  transform: translateY(-120%) scale(0.8);
  background-color: #fff;
  padding-inline: 0.3rem;
  color: darkgray;
}


.spacer-10 {
	height: 10px;
	
}







  button {
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background: #555;
  }
  
  .error {
    color: red;
    text-align: center;
  }
  
.btn-login {

  height: 60px;
  font-size: 20px;
}

.btn-reg {

  height: 60px;
  font-size: 20px;
}

.overlay {

  position: fixed; /* Sit on top of the page content */

  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: -1; /* Specify a stack order in case you're using a different order for other elements */

}
